<h1>Restaurant List</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">E-MAIL</th>
        <th scope="col">DELETE</th>
        <th scope="col">UPDATE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of collection">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td (click)="deleteresto(item.id)"><button class="btn-sm btn btn-danger">DELETE</button></td>
        <td ><button class="btn-sm btn btn-info" routerLink="/update/{{item.id}}">UPDATE</button></td>
      </tr>